node_modules/
npm-debug.log*
output/
.DS_Store
android/android.keystore
android/app-release-signed.apk
android/app-release-signed.apk.idsig
android/app-release-bundle.aab
android/app-release-unsigned-aligned.apk
android/build/
android/app/build/
android/.gradle/
/.gradle/
/app/
/build/
/build.gradle
/gradle.properties
/gradle/
/gradlew
/gradlew.bat
/manifest-checksum.txt
/settings.gradle
/store_icon.png
/app-release-unsigned-aligned.apk
/app-release-signed.apk
/app-release-bundle.aab
